<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SunatDocumentosBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService"
                binding="basicHttpBinding"
                bindingConfiguration="SunatDocumentosBinding"
                contract="Documentos.billService"
                name="ServicioSunat" />
      <endpoint address="https://www.sunat.gob.pe/ol-it-wsconscpegem/billConsultService"
                binding="basicHttpBinding"
                bindingConfiguration="SunatDocumentosBinding"
                contract="Consultas.billService"
                name="ConsultasSunat" />
    </client>
  </system.serviceModel>
</configuration>