<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillConsultServicePortBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
                contract="Documentos.billService" name="BillServicePort" />
            <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
                binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
                contract="Consultas.billService" name="BillConsultServicePort" />
        </client>
    </system.serviceModel>
</configuration>